@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
.container {
  width: 1152px;
  height: 759px;
  margin: 0 auto;
  z-index: 2;
}
.top-nav {
  display: flex;
  height: 80px;
  max-width: 1152px;
  justify-content: space-between;
  margin-top: 15px;
}
.top-nav_btn{
    text-transform: uppercase;
    border: 1px solid #3E3F43;
    padding: 9px 35px;
    border-radius: 5px;
}
.header_logo {
  display: flex;
  flex-direction: row;

}
.menu {
  width: 737px;
  height: 40px;
}
.menu ul {
  display: flex;
}
.menu ul li{
    margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 137px;
}
.left {
  width: 504px;
  height: 376px;
}
.content h3 {
  font-size: 30px;
  font-weight: 200;
  line-height: 49px;
}
span {
  font-weight: 700;
}
.content h2 {
  font-size: 68px;
  margin-bottom: 37px;
}
.content .btn {
  font-size: 16px;
  color: #fff;
  background-color: #daa520;
  padding: 14px 24px;
  border-radius: 5px;
}
.right {
  position: absolute;
  width: 630px;
  height: 800px;
  left: 622px;
  top: 150px;
}
.right .design {
  position: relative;
  top: 0;
  left: 0;
  
}
.rectangle{
    position: absolute;
    top: 0;
    right: 0%;
    background-color: #F9BDBD;
    width: 430px;
    height: 800px;
    border-radius:0 0 0 150px;
    
}
